<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZemenBankLMS | <%=title %></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/style.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
   
  

  <!-- Include Selectize.js CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.min.css">

  <!-- Include jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Include Selectize.js JavaScript file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
  <style>
    #pdfContainer {
      width: 100%;
      height: 600px; /* Adjust the height as needed */
    }

    
  </style>
  <style>
    .course-page {
      display: flex;
      justify-content: space-between;
    }
  
    .left-section {
      flex: 1;
      padding-right: 20px; /* Adjust as needed for spacing between sections */
    }
  
    .right-section {
      flex: 1;
      display: flex;
      align-items: stretch;
    }
  
    .content-placeholder {
      flex-grow: 1;
      overflow: hidden;
    }
  
    #pdfContainer {
      width: 100%;
      height: 100%;
    }
  
    embed {
      width: 100%;
      height: 100%;
    }
  </style>
  
    
  </head>













  