
          <nav class="main-nav--bg">
            <div class="container main-nav">
                <div class="main-nav-start" >
                    <div class="search-wrapper" style="position: fixed; top: 0; left: 0; width: 100%; background-color: #ffffff; z-index: 1000; display: flex; align-items: center; padding: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                      <i data-feather="search" aria-hidden="true"></i>
                      <img src="/ZBPP.jpg" class="random_person rounded-circle" style="width: 100px; height: auto; margin-right: 10px; border-radius: 50%;" alt="not found">
                      <p style="margin: 10px; padding-left: 70px; text-align: center !important; font-weight: bold; font-size: 40px; color: red;">Learning Management System</p>
                  </div>
       
                </div>
            </div>
        </nav>
        
        
        
